.container {
  font-family: "Abel", sans-serif;
  max-width: 90%;
}

h1 {
  font-size: 50px;
  padding-top: 10px;
}

h5 {
  opacity: 50%;
}

.search-bar {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 20px;
  max-width: 50%;
  padding: 10px;
}
.search-button {
  position: relative;
  left: 980px;
  top: -60px;
}

.current-button {
  position: relative;
  left: 1000px;
  top: -60px;
}

.todays-info-container {
  border: solid 0 #fff;
  border-radius: 20px;
}
.todays-heading,
.tomorrow-heading {
  margin-top: 0px;
  font-size: 30px;
  color: rgba(29, 155, 214, 0.952);
}

.current-temp {
  font-weight: 900px;
  font-size: 100px;
}

#todays-icon {
  display: block;
  margin: 0 auto;
  width: 150px;
}
.todays-description,
.current-weather-icon {
  text-align: center;
}

.current-weather-icon {
  display: block;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 100px;
}

.forecast-container {
  text-align: center;
}
.sub-heading {
  text-align: center;
  font-size: 30px;
}

.forecast-info-container {
  padding-top: 10px;
}

.fa-umbrella {
  opacity: 70%;
}

.card {
  border: none;
  background-color: #97bacc;
  border-radius: 20px;
}
.forecast-day-name {
  font-size: 25px;
}

.byline {
  text-align: left;
  margin-left: 100px;
  font-size: small;
}
